@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    @apply antialiased;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
  
  #root {
    width: 100%;
    min-height: 100vh;
  }
}
